doctype html
html(lang='en')
  head
    title CheckersJS
    meta(name='description' content='A small Javascript checkers game.')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet' href='styles.css')
  body
    #container
      h1.page-header CheckersJS
      p Click to select a piece, click again to move it.
      br
      #checkersApp
      p.subdued Unfortunately we don't have support for double jumps :(
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='Checkers.js')
